<div id="home">

    <video autoplay loop mmuted plays-inline class="bg-video">
        <source src="../../../assets/vid/Cinematic Fitness Video (Featuring DVTraining).mp4">
    </video>
    <div class="text-overlay">

        <h1 class="lead">Welcome to The Gym</h1>
        <p class="text-white display-5"><i>Discover the perfect place for your fitness journey, where expert guidance
                and motivating workouts come together..!</i></p>

        <button class="btn" routerLink="/Membership">

            Get Started
        </button>
    </div>
</div>
<app-testimonials></app-testimonials>