<div class="container mw-80">
    <div class="row my-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic1.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic2.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic3.jpg" alt="">
        </div>

    </div>
    <div class="row my-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic4.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic5.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic6.jpg" alt="">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic7.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic8.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic2.jpg" alt="">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic10.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic11.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" (click)="expandImage($event)">
            <img src="../../../assets/img/Gallery-Img/pic12.jpg" alt="">
        </div>
    </div>

</div>