<section>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- <a class="navbar-brand" href="#">
                <img src="../../assets/img/images-removebg-preview.png" alt="">
                
            </a> -->
            <div class="logo">
                <figure>
                    <img src="../../assets/img/images-removebg-preview.png" class="navbar-brand pr-4"
                        alt="Cannot load Image">
                    <figcaption>

                        <h2 class="">The Gym</h2>
                    </figcaption>
                </figure>

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about-us" class="nav-link" href="#">AboutUs</a>
                        <!-- <a class="nav-link" href="../about-us/about-us.component.html">AboutUs</a> -->
                    </li>
                    <li class="nav-item dropdown">
                        <a routerLink="/Gallery" class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            Gallery
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">

                        <a routerLink="/Membership" class="nav-link" href="#">Plans</a>

                    </li>
                    <li class="nav-item">

                        <a routerLink="/Our-trainers" class="nav-link" href="#">Our Trainers</a>

                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</section>


<!-- if(i am in home){
    <app-get-started></app-get-started>
}
else if(i am in about){
    <app-about-us></app-about-us>
} -->

<!-- 
<div *ngIf="flag">
    <app-about-us></app-about-us>
</div> -->


<!-- <app-get-started></app-get-started> -->