section {
    color: rgb(255, 255, 255);
    position: relative;
}


.logo h2 {

    margin-left: 41px;
    margin-bottom: -20px;
}

.logo img {

    margin-right: 100px;
    width: 200px;
    margin-bottom: -20px;
    filter: invert(100%);


}

.navbar li a {
    color: white;
}

.navbar li a:hover {
    background: rgb(253, 222, 165);
    border-radius: 10px;
}



.navbar {
    background-image: url("../../assets/img/black-bg.jpg");

}