<section class="position-relative">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
“I like muscles, and I am a buff dude. Girls love it. If any cannibal would like to eat me, they could make a good strong steak and be like "OMG, why does this taste so good?" The Gym, that is why."
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="../../../assets/img/Testimonials/1.png"
                    class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Farhan</h5>
            <h6 class="text-primary mb-3">Power Lifter</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>Joining The Gym was one of the best decisions I've made. The trainers are top-notch, and the variety of classes keeps me motivated. I've seen incredible progress in my fitness journey, and I'm proud to be part of this amazing community."
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star-half-alt fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="../../../assets/img/Testimonials/2.png"
                    class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Aman</h5>
            <h6 class="text-primary mb-3">Fitness Freak</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>The atmosphere at The Gym is fantastic! The staff is friendly and supportive, and the facilities are clean and well-maintained. I've lost 20 pounds and gained a ton of confidence since I started. I can't thank The Gym enough for helping me reach my goals.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="../../../assets/img/Testimonials/3.png"
                    class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Beauty</h5>
            <h6 class="text-primary mb-3">Calisthenics</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>"I've been a member for three years, and I can't imagine my life without The Gym. It's more than just a fitness center; it's a family. The trainers are knowledgeable and genuinely care about your progress. I'm stronger, healthier, and happier thanks to The Gym."
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="far fa-star fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
    </div>
</section>
<app-our-services></app-our-services>