<section id="contact">
    <div class="main-content">

        <div class="form-group left col-sm-12 ">
            <!-- Add your address and other content here on the left side -->
            <h2>Our Address</h2>
            <address class="text-dark">
                Laxmi Nagar<br>
                Delhi, India<br>
                Phone: (123) 456-7890<br>
                Email: info@TheGym.com
            </address>

            <h2>
                Front Desk Hours
            </h2>
            <address class="text-dark ">
                Open today<br>


                <details>
                    <summary>
                        <span class="lead">
                            01:00 pm – 06:00 pm
                        </span>
                    </summary>
                    <h3 class="text-light lead">Mon
                        01:00 pm – 06:00 pm <br>
                        Tue
                        01:00 pm – 06:00 pm<br>
                        Wed
                        01:00 pm – 06:00 pm<br>
                        Thu
                        01:00 pm – 06:00 pm<br>
                        Fri
                        Closed<br>
                        Sat
                        01:00 pm – 04:00 pm<br>
                        Sun
                        Closed</h3>
                </details>


                <address class="text-dark">

                    If you are not available to sign up or pick up<br> your access card during our regular office
                    <br>hours,
                    please
                    contact us via text, email, or <br>social media, and we will do our best to <br>accommodate your
                    request.<br><br>
                    In order to respect our employees' personal <br>time, we cannot respond to <br>phone calls outside
                    of posted
                    office hours.
                </address>
            </address>
        </div>

        <div class="form-group ">
            <h2 id="h-primary" class="textCenter">Contact Us</h2>
            <form action="noaction.php">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="number">Phone Number:</label>
                    <input type="number" placeholder="Enter your Phone number">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <button class="btn btn-success d-flex justify-content-center">Contact Now</button>
            </form>
        </div>
    </div>
</section>

<footer class="center">
    Copyright &copy; www.TheGym.com All rights reserved @2023
</footer>