<div class="bg-section">
    <h1 class="h1-primary text-center text-light "><span class="px-3">About</span>The Gym</h1>
    <!-- <img src="../../assets/img/about-us.jpg" alt=""> -->
</div>

<div class="images col-row d-flex text-center mt-5">
    <div class="col-lg-2">

        <img src="https://goldsgym.in/uploads/home_icons/gyms.jpg" alt="">
        <h4>150 Gyms</h4>
    </div>
    <div class="col-lg-2">


        <img src="https://goldsgym.in/uploads/home_icons/cities.jpg" alt="Image">
        <h4>95 cities</h4>
    </div>

    <div class="col-lg-2">

        <img src="https://goldsgym.in/uploads/home_icons/states.jpg" alt="Image">
        <h4>25 States</h4>
    </div>
    <div class="col-lg-2">

        <img src="https://goldsgym.in/uploads/home_icons/Website_Personal.jpg" alt="Image">
        <h4>Personal Training Program</h4>
    </div>
    <div class="col-lg-2">

        <img src="https://goldsgym.in/uploads/home_icons/Corporate.jpg" alt="Image">
        <h4>Corporate Wellness Program</h4>
    </div>
    <div class="col-lg-2">

        <img src="https://goldsgym.in/uploads/home_icons/Group_Exercise.jpg" alt="Image">
        <h4>Group Program</h4>
    </div>


</div>
<div class="main-container">

    <div class="about-container">
        <div class="image">
            <img src="https://goldsgym.in/assets/images/work.jpg" alt="Image">
        </div>
        <div class="description">
            <h1 class="h1-primary">What we do</h1>
            <p>Personal Training

                Our certified personal trainers are here to help you create a personalized workout plan that is tailored to your specific goals and fitness level. They will also provide you with motivation and support to help you stay on track.
                
                Group Fitness Classes
                
                We offer a variety of group fitness classes, including Zumba, cycling, and kickboxing. These classes are a great way to get in shape and have fun at the same time.
                
                Yoga and Pilates
                
                We offer a variety of yoga and Pilates classes that can help you improve your flexibility, strength, and balance.
                
                Strength Training
                
                We have a wide range of strength training equipment that can help you build muscle and tone your body.
                
                Cardio Equipment
                
                We have a variety of cardio equipment, including treadmills, ellipticals, and stationary bikes.
                
                Nutrition Counseling
                
                Our registered dietitians can help you create a personalized nutrition plan that is right for you. They can also provide you with tips on how to eat healthy and lose weight.
                
                Membership Options
                
                We offer a variety of membership options to fit your needs and budget. We also offer a free trial so you can try out our gym before you commit to a membership.</p>
        </div>
    </div>
</div>
<app-contact-us></app-contact-us>